---
name: Continuous Integration Workflow

on: [push, pull_request]

jobs:
    install:
        name: Install Dependencies
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [20.x, 22.x, 24.x]
        steps:
            - name: Checkout git repository
              uses: actions/checkout@v5
            - uses: ./.github/actions/setup

    compile:
        name: Typescript compilation
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [20.x, 22.x, 24.x]
        needs: ["install"]
        steps:
            - name: Checkout git repository
              uses: actions/checkout@v5
            - uses: ./.github/actions/setup
            - name: Compile
              run: "npm run compile"
            - name: Archive artifacts
              uses: actions/upload-artifact@v7
              with:
                  name: build-artifacts-node-${{ matrix.node-version }}
                  path: target/build/**/*

    static-code-analysis:
        name: Static Code Analysis
        runs-on: ubuntu-latest
        needs: ["install"]
        steps:
            - name: Checkout git repository
              uses: actions/checkout@v5
            - uses: ./.github/actions/setup
            - name: Run linters
              run: "npm run lint"

    unit-tests:
        name: Unit Tests
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [20.x, 22.x, 24.x]
        needs: ["compile", "static-code-analysis"]
        steps:
            - name: Checkout git repository
              uses: actions/checkout@v5
            - uses: ./.github/actions/setup
            - uses: actions/download-artifact@v8
              with:
                  name: build-artifacts-node-${{ matrix.node-version }}
                  path: target/build
            - name: Modify AppArmor Settings
              run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
            - name: Run unit tests
              run: "unshare --map-root-user -n npm run test:unit:with-coverage"

    integration-tests:
        name: Integration Tests
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [20.x, 22.x, 24.x]
        needs: ["compile", "static-code-analysis"]
        steps:
            - name: Checkout git repository
              uses: actions/checkout@v5
            - uses: ./.github/actions/setup
            - uses: actions/download-artifact@v8
              with:
                  name: build-artifacts-node-${{ matrix.node-version }}
                  path: target/build
            - name: Run integration tests
              run: "npm run test:integration"
